.documentContainer {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    iframe {
        width: 100%;
        flex: 1;
    }
    
    &>canvas {
        margin: 0;

    }
}