.container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h2 {
        font-size: 24px;    
    }

    p {
        margin-top: 8px;
        font-size: 16px;   
    }

    &:not(:last-of-type) {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid black;
    }
}

.articleInfoContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.previewContainer {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 16px 0;
    position: relative;
}

.articlePreview {
    object-fit: "contain"

    // width: 100%;
    // height: auto;
    // padding: 16px 0;
    // aspect-ratio: 16 / 9;
}