.main {
  margin-top: 80px;
}

.jobTitle {
  font-size: 48px;
  font-weight: var(--font-extralight);
}

.name {
  font-size: 48px;
  font-weight: var(--font-semibold);
}

.description {
  margin-top: 52px;
  font-size: 18px;
  font-weight: var(--font-extralight);
  max-width: 660px;

  a {
    line-height: 1;
    text-decoration: underline;
  }

  ul {
    list-style-position: inside;
    margin-left: 8px;
  }
}

@media (max-width: 768px) {
  .main {
    margin-top: 24px;
  }

  .description {
    margin-top: 32px;
  }
}