.container {
    display: flex;
    gap: 8px;
    align-items: center;

    @media screen and (max-width: 768px) {
        gap: 16px;
        width: 100%;
        justify-content: center;
    }
}

.navlink {
    font-size: 18px;
    
    &.active {
        font-weight: var(--font-semibold);
    }
}